/*All START*/

*{
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
}

:root{
    --main-color:rgb(199, 144, 57);
}

main{
    height: fit-content;
    width: 100%;
    margin: auto;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3), 0 3px 1px 0 rgba(0, 0, 0, 0.4);
}

section{
    position: relative;
    width: 100%;
    height: fit-content;
    z-index: 10;
    padding: 60px 30px;
    background: rgb(255, 255, 255);
}

/*ALL END*/

/*HEADER START*/

header{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-image: url(https://assets-global.website-files.com/5da7f396ad42af021e6f67a6/65d05b0636a42cbf42a2767d_llv-sports-drone2-p-1600.webp);
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header nav{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent, transparent),linear-gradient(rgba(0, 0, 0, 0.9), transparent, transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    z-index: 3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.navigation {
    width:100%;
    height: 12vh;
    display: flex;
    align-items: center;
}

.navigation .bars-icon {
    display: none;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    cursor: pointer;
}

.navigation .hamburger{
    display:none;
    color:#fff;
}

.navigation .bars-icon i{
    font-size:30px;
}

.navigation a{
    
    flex:30%;
    height:fit-content;
    padding-left: 30px;
}

.navigation a img{
    width:200px;
    height:80%;
}

.navigation ul{
    display:flex;
    align-items: center;
    flex:70%;
    justify-content: space-between;
    width:70%;
    height: 100%;
    padding:20px 50px;
    text-decoration: none;
    font-size:18px;
}

ul li{
    list-style: none;
}

.navigation ul li a{
    text-decoration: none;
    color:#fff;
    transition:color 0.5s ease-in-out;
}

.navigation ul li a:hover,.navigation ul li a:active,.navigation ul li a:focus{
    text-decoration: none;
    color: var(--main-color);
}

.header-title{
    position: absolute;
    top: 50%;
    width:100%;
    height:fit-content;
    padding-left: 50px;
    color: #fff;
}

.header-title h1, h3{
    cursor: default;
}

.header-title h1{
    /* font-family: Silver south script woff2, Georgia, sans-serif; */
    font-family:"Pacifico", cursive;
    font-size:80px;
}

.header-title h3{
    letter-spacing: 7px;
    font-size:30px;
}

.header-title .header-links{
    width:380px;
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    
}

.header-links a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.5s ease-in-out;
}

.header-links a:hover{
    color:#fff;
}

header .opening{
    height: 10vh;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: large;
    letter-spacing: 1px;
    padding: 0 30px;
}

@media screen and (max-width: 1000px) {
    .navigation ul {display: none;}
    .navigation div.bars-icon {
      float: right;
      display: block;
      position: absolute;
      right: 30px;
      top: 20px;
    }
    .header-links{
        flex-direction: column;
        gap:30px;
    }
}
  
@media screen and (max-width: 1000px) {
    .navigation.responsive {position: relative;}
    .navigation .hamburger{
        display:block;
        height:0px;
        transition: 1s ease-in;
        overflow: hidden;
        width:100%;
    }
    .navigation.responsive .hamburger {
      float: none;
      display: block;
      text-align: left;
      position: absolute;
      margin-top:320px;
      background-color: rgba(0, 0, 0, 0.7);
      height: fit-content;
      padding: 0;
    }
    .navigation.responsive ul li{
        width: 100%;
        padding: 10px;
    }
}

/*HEADER END*/

/*FOOTER START*/

footer{
    position: fixed;
    width: 100%;
    margin: auto;
    height: 400px;
    display:flex;
    align-items: center;
    bottom: 0;
    z-index: 1;
    left:0;
    right: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgb(214, 214, 214);
}

.margin400px{
    margin-bottom: 400px;
}

.footer-container{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    padding:20px;

}

.footer-logo{
    border-right:1px solid #717171;
    padding-right: 20px;
    text-align: left;
}

.footer-logo div{
    padding: 10px;
    margin-top: 30px;
}

.footer-logo div p{
    margin-bottom: 5px;
}

.footer-logo .key-fob{
    padding:10px;
}

.footer-links{
    padding: 40px 0 0 20px;
}

.footer-links h4{
    color: var(--main-color);
    margin-bottom: 15px;
}

.footer-links ul{
    text-align: left;
}

.footer-links ul li{
    margin-bottom: 10px;
}

.footer-links ul li a{
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.footer-links ul li a:hover{
    color:var(--main-color);
}

/*FOOTER END*/

